<div>
    <h2 id="page-heading">
        <span jhiTranslate="goodDoctorSeverApp.conseil.home.title">Conseils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-conseil" [routerLink]="['/conseil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="goodDoctorSeverApp.conseil.home.createLabel">
            Create a new Conseil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="conseils?.length === 0">
        <span jhiTranslate="goodDoctorSeverApp.conseil.home.notFound">No conseils found</span>
    </div>
    <div class="table-responsive" *ngIf="conseils?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="goodDoctorSeverApp.conseil.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="auteur"><span jhiTranslate="goodDoctorSeverApp.conseil.auteur">Auteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="conseil"><span jhiTranslate="goodDoctorSeverApp.conseil.conseil">Conseil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conseil of conseils ;trackBy: trackId">
                <td><a [routerLink]="['/conseil', conseil.id, 'view' ]">{{conseil.id}}</a></td>
                <td>{{conseil.nom}}</td>
                <td>{{conseil.auteur}}</td>
                <td>{{conseil.conseil}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/conseil', conseil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conseil', conseil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/conseil', { outlets: { popup: conseil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="conseils?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
