<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conseil">
            <h2><span jhiTranslate="goodDoctorSeverApp.conseil.detail.title">Conseil</span> {{conseil.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodDoctorSeverApp.conseil.nom">Nom</span></dt>
                <dd>
                    <span>{{conseil.nom}}</span>
                </dd>
                <dt><span jhiTranslate="goodDoctorSeverApp.conseil.auteur">Auteur</span></dt>
                <dd>
                    <span>{{conseil.auteur}}</span>
                </dd>
                <dt><span jhiTranslate="goodDoctorSeverApp.conseil.conseil">Conseil</span></dt>
                <dd>
                    <span>{{conseil.conseil}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conseil', conseil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
