<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symptome">
            <h2><span jhiTranslate="goodDoctorSeverApp.symptome.detail.title">Symptome</span> {{symptome.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="goodDoctorSeverApp.symptome.nom">Nom</span></dt>
                <dd>
                    <span>{{symptome.nom}}</span>
                </dd>
                <dt><span jhiTranslate="goodDoctorSeverApp.symptome.description">Description</span></dt>
                <dd>
                    <span>{{symptome.description}}</span>
                </dd>
                <dt><span jhiTranslate="goodDoctorSeverApp.symptome.effet">Effet</span></dt>
                <dd>
                    <span>{{symptome.effet}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/symptome', symptome.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
